<footer>
	<div class="area darkGrey">
		<div class="container">
			<div class="row">
				<nav class="col-xs-12 col-sm-6 col-md-3">
					<ul>
						<li>
							Themen
							<ul>
								<li>TYPO3</li>
								<li>Extbase</li>
								<li>Fluid</li>
								<li>HTML/CSS</li>
								<li>Linux/Hosting</li>
								<li>Git</li>
								<li>Bitcoin</li>
							</ul>					
						</li>
					</ul>
				</nav>
				<nav class="col-xs-12 col-sm-6 col-md-3">
					<ul>
						<li>
							Leistungen
							<ul>
								<li>Responsive Webdesign</li>
								<li>TYPO3 Templates</li>
								<li>TYPO3 Extensions</li>
								<li>Search Engine Optimization</li>
								<li>Web Portals</li>
								<li>Online-Shops</li>
								<li>Consulting</li>
							</ul>					
						</li>
					</ul>
				</nav>
				<nav class="col-xs-12 col-sm-6 col-md-3">
					<ul>
						<li>
							Referenzen
							<ul>
								<li>Karl May Spiele</li>
								<li>Esche Schümann Commichau</li>
								<li>Edition Panorama</li>
								<li>BD Bauunternehmen</li>
								<li>ASSO Personal</li>
								<li>JUMP Fitness</li>
								<li>Aeon Scientific</li>
							</ul>					
						</li>
					</ul>
				</nav>
				<nav class="col-xs-12 col-sm-6 col-md-3">
					<ul>
						<li>
							Log-In	
							<ul>
								<li></li>
							</ul>		
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footerline">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p><a rel="nofollow" target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">(0) 1999 - 2016 Public Domain <br class="visible-xs" />unless indicated otherwise</a><br class="visible-xs" /><br /> Christopher Zechendorf</p>
					</div>
				</div>
				<div class="row footeraddress">
					<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 col-lg-2 col-lg-offset-4">
						<p>Zürich<br />+41 43 5087288</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<p>Lüneburg<br />+49 4131 6036472</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12"><p>Impressum / Datenschutz</p></div>
				</div>
			</div>
		</div>
	</div>
</footer>
