<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3" id="logo">
				<a href="/#homeHome">
					<img src="/images/zechendorf-logo-color.png" alt="ZECHENDORF">
				</a>
			</div>
			<nav class="hidden-xs col-sm-9">
				<a href="/#homeHome">Home</a>
				<a href="/#homeAboutUs">Über</a>
				<a href="/#homeProjects">Projekte</a>
				<a href="/#homeServices">Leistungen</a>
				<a href="/#homeBlog">Blog</a>
				<!--<a href="/#homeContact">Kontakt</a>
				<a href="/#homeLogin">Login</a>-->
			</nav>		
		</div>
	</div>
</header>
