
body{
	font-family: 'Droid Serif', serif;
	font-size: 21px;
	color: rgb(68,68,68);
	line-height: 1.8em;
}

img{
	max-width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

h1{
	font-weight: 300;
	font-size: 2.4em;
	padding: 1em 0 0.5em 0;
}

h2{
	font-size: 2em;
	font-weight: 600;
	padding: 2em 0 1em 0;
	line-height: 1.4em;
}

a{
	outline: 0;
}

a:focus,
a:hover{
	outline: 0;
	text-decoration: none;
}

.page{
	overflow: hidden;
}

.clearer{
	clear: both;
}


/* ************* *
 *    A.BUTTON   *
 * ***************/

a.button{
	display: inline-block;
	margin: 0.5em;
	border: 2px solid rgba(68,68,68,.5);
	border-radius: 1em;
	padding: 0em 1em;
	color: rgba(68,68,68,1);
	transition: .5s;
}

a.button:hover,
a.button:focus{
	text-decoration: none;
	color: rgba(68,68,68,1);
}

.area.darkGrey a.button,
.area.darkGrey a.button:focus{
	border: 2px solid rgba(255,255,255,.8);
	background: rgba(255,255,255,.8);
	color: rgb(68,68,68);
}

.area.darkGrey a.button:hover{
	border: 2px solid rgba(255,255,255,.5);
	color: rgb(255,255,255);
	background: rgba(255,255,255,0);
}



.area.white a.button.blue,
.area.white a.button.blue:focus,
.area.darkGrey a.button.blue,
.area.darkGrey a.button.blue:focus{
	border: 2px solid rgba(88,172,210,1);
	background: rgba(88,172,210,1);
	color: rgb(255,255,255);
}

.area.white a.button.blue:hover,
.area.darkGrey a.button.blue:hover{
	border: 2px solid rgba(88,172,210,.5);
	color: rgb(88,172,210);
	background: rgba(88,172,210,0);
}

/* ************* *
 *     HEADER    *
 * ***************/

header{
	width: 100%;
	height: 70px;
	line-height: 70px;
	position: fixed;
	background: rgba(255,255,255,0);
	border-bottom: 1px solid rgba(110,110,110,0);
	color: rgb(255,255,255);
	transition: .5s;
	z-index: 200;
}

.post header,
.subPage header{
	background: rgb(174,0,18);
}

.subPage.subPageBigImage header{
	background: linear-gradient(rgba(48,48,48,.8),rgba(48,48,48,0));
	border-bottom: none;
}

.subPage.subPageBigImage header.scrolled,
header.scrolled{
	background: rgba(255,255,255,.9);
	border-bottom: 1px solid rgba(0,0,0,.1);
	color: rgb(255,255,255);	
}

header #logo a{	
	width: 195px;
	height: 70px;
	margin-left: -7px;
	display: inline-block;
	background: url('../images/zechendorf-logo-white-shadow.png') center center no-repeat;
	background-size: contain;
	transition: opacity .5s;
}

header a:hover{
	opacity: 0.75;
}

header.scrolled #logo a{
	background: none;
}

header #logo img{
	opacity: 0;
	transition: 1s;
}

header.scrolled #logo img{
	opacity: 1;
}

header nav{
	text-align: right;
	text-transform: uppercase;
	font-size: 0.7em;
	padding-top: 3px;
}

header nav a{
	margin-left: 15px;
	color: rgb(255,255,255);
	display: inline-block;
}

header.scrolled nav a{
	color: rgb(68,68,68);	
}

header.scrolled nav a:hover,
header.scrolled nav a:focus{
	color: rgb(68,68,68);		
}

header nav a:hover,
header nav a:focus{
	text-decoration: none;
	color: rgb(255,255,255);
}

.subPage.subPageBigImage header nav a{
	text-shadow: 0 0 3px rgb(48,48,48);
}

.subPage.subPageBigImage header.scrolled nav a{
	text-shadow: none;
}


/* ************* *
 *      HOME     *
 * ***************/
 
#home{
	text-align: center;
}

#home #bigHeader{
	padding-top: 120px;
}

#homeAboutUs .area{
	padding-bottom: 4em;
}

#home .profile img{
	opacity: 0.5em;
}

#home .profile{
	padding-top: 4em;
	font-size: 0.8em;
}

#home .profile p{
	padding: .5em 0;
}


#homeServices .area.lightGrey,
#homeProjects .area{
	padding: 2em 0;
}
#homeServices .area p,
#homeProjects .area p{
	margin: 0;
	padding: 0;
}

#homeProjects .area.white{
	padding: 3em 0 6em 0;
}
#homeProjects .elem{
	margin-left: -15px;
	margin-right: -15px;
	overflow: hidden;
}

#homeProjects .project{
	background-size: cover;
}
#homeProjects .client{
	font-weight: 600;
}

#homeProjects .project a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: rgba(249,249,249,.9);
	opacity: 0;
	transition: opacity .5s;
	color: rgb(68,68,68);
	text-transform: uppercase;
	font-size: .7em;
	line-height: 1.3em;
}

#homeProjects .project a:hover{
	opacity: 1;
	color: rgb(68,68,68);
}

#homeServices .area.lightGrey{
	border-bottom: 1px solid rgb(249, 249, 249);
}

#homeServices .area.darkGrey{
	padding: 2em 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
}

#homeServices .area.darkGrey a.button{
	padding: .3em 1em;
}

#homeServices .elem{
	border-left: 1px solid rgb(255,255,255);
	border-top: 1px solid rgb(255,255,255);
	font-size: 0.8em;
	line-height: 1.4em;
	background: rgb(249, 249, 249);
	transition: background 1s;
}

#homeServices .elem:hover{
	background: rgb(255,255,255);
}

#homeServices .elem p{
	padding: 0px 15px;
}

#homeServices p.smaller{
	font-size: 0.6em;
	font-family: Roboto;
	padding-top: 0.5em;
}

#homeServices .icon{
	padding-top: 1em;
	font-size: 2em;
	line-height: 3em;
}

#homeServices .servicesSide{
	background: url('../images/services-side.jpg') center center no-repeat;
	background-size: cover;
}

#homeBlog .area.white{
	padding: 4em 0;
}

#homeBlog .area.white h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	padding-bottom: 0;
}

#home .blogTeaser article{
	margin-bottom: 30px;
	font-size: .6em;
}

#home .blogTeaser article h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	padding: 0.4em 0;
	line-height: 1.4em;
}

#home .blogTeaser article h3 a{
	color: rgb(68,68,68);
	transition: color .5s;
}


#home .blogTeaser article h3 a:hover,
#home .blogTeaser article h3 a:focus{
	color: rgba(88,172,210,1);
}

#home .blogTeaser{
	text-align: left;
}

#home .blogTeaser p{
	line-height: 1.3em;
}

#home #clientLogos{
	width: 100%;
	padding: 2em 0;
}

#home #clientLogos .client{
	width: 16.66%;
	float: left;
	text-align: center;
	vertical-align: middle;
}

#home #clientLogos .client .inner{
	padding: 0 15%;
	display: table-cell;
	vertical-align: middle;
	width: auto;
	height: 200px;
}

/* ************* *
 *      AREA     *
 * ***************/

.area.darkGrey{
	color: #fff;
	background: rgb(40, 40, 40);
}

.area.lightGrey{
	background: rgb(249, 249, 249);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	line-height: 1.6em;
}

#bigHeader{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	height: 640px;
	padding-top: 70px;
	background: url('../images/home-teaser.jpg') center 320px no-repeat rgb(40,40,40);
	background-size: 659px 350px;
	border-bottom: 1px solid  rgb(40, 40, 40)
}

#bigHeader h1{
	font-weight: 300;
}

#bigImage{
	position: fixed;
	width: 100%;
	z-index: -100;
}

.bigImage{
	height: 396px;
}

.bigImage .inner{
	height: 396px;
	background: url('../images/bigimage-overlay.png') top left repeat;
}


/* ************* *
 *  BREADCRUMB   *
 * ***************/
a.githubEdit,
a.githubEdit:hover,
#breadcrumb a{
	display: inline-block;
	margin-right: 8px;
	border: 2px solid rgba(68,68,68,.1);
	background: rgba(68,68,68,0);
	color: rgb(68,68,68);
	padding: .1em .8em;
	border-radius: 1em;
	transition: .5s;
}


a.githubEdit,
.subPage.subPageBigImage #breadcrumb a:hover,
#breadcrumb a:hover{
	border: 2px solid rgba(68,68,68,1);
	background: rgba(68,68,68,1);
	color: rgb(255,255,255);
}

.subPage.subPageBigImage #breadcrumb a{
	border: 2px solid rgba(255,255,255,.3);
	color: rgba(255,255,255,1);
	background: rgba(68,68,68,.8);
}


/* ************* *
 *    SUBPAGE    *
 * ***************/

section.content p{
	margin-bottom: 1.6em;
}

.subPage main{
	padding-top: 70px;
	z-index: 10;
}

.subPage.subPageBigImage main{
	margin-top: 396px;
	padding-top: 0;
	background: rgb(255,255,255);
}

.subPage main .content{
	padding-top: 2em;
	padding-bottom: 2em;
}


.subPage.subPageBigImage main .content{
	padding-top: 0;
}

.subPage main h1{
	font-size: 1.8em;
	color: #ae0012;
}


.subPage main h2{
	color: rgb(88,172,210);
	margin: 1em 0 0.5em 0;
	padding: 0;
	font-size: 1.4em;
	font-weight: 300;
}

.subPage main h3{
	color: rgb(88,172,210);
	margin: 1em 0 0.25em 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: 300;
}

#aboveContent{
	font-size: .8em;
	padding: 3em 0;
}

#aboveContent #pageDate{
	text-align: right;
	line-height: 1.2em;
}

#aboveContent .pageTstamp{
	color: rgba(68,68,68,.5);
}


#aboveContent.aboveContentBigImage .pageCrdate{
	color: rgba(255,255,255,1);
	text-shadow: 0 0 3px rgb(48,48,48);
}

.aboveContentBigImage #aboveContent .pageTstamp{
	color: rgba(255,255,255,.7);
	text-shadow: 0 0 3px rgb(48,48,48);
}

#aboveContent.aboveContentBigImage{
	background: linear-gradient(rgba(48,48,48,0),rgba(48,48,48,.8));
	padding: 15px 0;
	margin-top: 266px;
	width: 100%;
}

/* ************* *
 *     FOOTER    *
 * ***************/

footer{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
	border-bottom: 10px solid rgb(176,198,0);
}

footer p{
	margin: 0;
	padding: 0;
}

footer .area{
	padding-top: 0em;
}
footer .container{
	padding-bottom: 2em;
}

footer nav a{
	color: rgba(255,255,255,.5);
	transition: .5s;
}

footer nav a:hover,
footer nav a:focus{
	color: rgba(255,255,255,1);
	transition: .5s;
}

footer nav ul{
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 2em 0 0 0;
	font-weight: 600;
	font-size: 0.8em;
	color: rgba(255,255,255,.75);
	transition: .5s;
}

footer nav ul ul{
	padding: 0;
	font-size: 0.8em;
	border-top: 1px solid rgba(255,255,255,.5);
	font-weight: 400;
}

footer nav ul ul li{
	border-bottom: 1px solid rgba(255,255,255,.05);
	color: rgba(255,255,255,.6);
	transition: color .5s;
}

footer nav ul ul li:hover{
	color: rgba(255,255,255,1);
}

footer .footerline{
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: 0.5em;
	color: rgba(255,255,255,.3);
	padding: 3em 0;
	background: rgba(255,255,255,.05);
	line-height: 2em;
}

footer .footerline a{
	color: rgba(255,255,255,.3);
	transition: color .5s;
}

footer .footerline a:hover,
footer .footerline a:focus{
	color: rgba(255,255,255,.75);
}

footer .footerline .container{
	padding-bottom: 0;
}

footer .footeraddress p{
	padding: 2em 0;
}

.ce-textpic.ce-center .ce-media{
	text-align: center;
}

@media (max-width: 767px){

	body{
		font-size: 18px;
	}

	header #logo{
		text-align: center;
	}

	.bigImage{
		height: 396px;
	}
	
	
	.subPage.subPageBigImage #aboveContent{
		height: 92px;
		margin-top: -92px;
	}
	
	#aboveContent,
	#aboveContent #pageDate{
		text-align: left;
	}
	#aboveContent #pageDate{
		line-height: 1.8em;
	}
	
	#aboveContent .pageCrdate,#aboveContent  .pageTstamp{
		display: inline-block;
		margin: .3em;
	}
	
	
	#home #bigHeader{
		height: 490px;
		padding-top: 40px;
		background: url('../images/home-teaser.jpg') center 350px no-repeat rgb(40,40,40);
		background-size: 300px 160px;
		border-bottom: 1px solid  rgb(40, 40, 40)
	}

}
