<!DOCTYPE html>
<html lang="de">
	{% include head.html %}
	<body id="z">
		{% include header.html %}
		<main id="main">
			<div class="container">
				<article class="post">
					{{ content }}
				</article>
			</div>
		</main>
		{% include footer.html %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<script type="text/javascript">
		document.onscroll=function(){
			console.log(document.getElementById('main').scrollTop);
		}
	</script>
	</body>
</html>
<link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,700,900" rel="stylesheet">
