---
layout: default
---
<aside class="area lightGrey" id="aboveContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-9" id="breadcrumb">
				<a href="/"><i class="fa fa-home"></i></a><a href="{{ page.url }}" class="hidden-xs">{{ page.title }}</a>
			</div>
			<div class="col-xs-6 col-sm-3" id="pageDate" style="text-align: right">
				<a href="https://github.com/zechendorf/zechendorf.github.io/edit/master/{{ page.path }}" title="Edit me on GitHub" class="githubEdit"><i class="fa fa-github"></i> editieren</a>
			</div>
		</div>
	</div>
</aside>
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
					<div class="post-content" itemprop="articleBody">
						{{ content }}
					</div>
				</article>
			</div>
		</div>
	</div>
</section>
<aside class="area darkGrey">
	<div class="container">
		Verbesserungen, Korrekturen? 
				<a href="https://github.com/zechendorf/zechendorf.github.io/edit/master/{{ page.path }}" title="Edit me on GitHub" class="githubEdit"><i class="fa fa-github"></i> diese Seite editieren</a>
	</div>
</aside>
